<div class="col-lg-10">
    <br/>
    <br/>
    <div class="alert alert-success col-lg-6" *ngIf="status == 'success'">
        El mensaje se ha enviado correctamente, miralo <a [routerLink] = "['/messages/sended']"> 
         en tus mensajes enviados.</a>
    </div>
    <div class="alert alert-danger col-lg-6" *ngIf="status == 'error'">
        El mensaje no se ha podido enviar correctamente,inténtalo más tarde.
    </div>
    <form class="col-lg-6" #formAdd="ngForm" (ngSubmit)="onSubmit(formAdd)">
        <p>
            <label>Para:</label>
            <!--Lista de seguidores.-->
            <select  *ngIf="follows" name="receiver" #receiver="ngModel" [(ngModel)]="message.receiver" class="form-control" required>
                <option *ngFor="let follow of follows" value="{{follow.user._id}}">{{ follow.user.name + ' ' +follow.user.surname }}</option>
            </select>
        </p>
        <p>
            <label>Mensaje (max 100 caracteres):<span id="charNum"> 0 </span></label>
            <textarea id="message" name="text" (keyup)="countChars();" #text="ngModel" [(ngModel)]="message.text" maxlength="100" class="form-control" required></textarea>
            <span *ngIf="!text.valid && text.touched">
                El mensaje es obligatorio.
            </span>
        </p>
        <input type="submit" value="Enviar Mensaje" class="btn btn-success"/>
    </form>
</div>