<div>
    <img class="imagenLogo" src="../../../assets/img/kionur.png" alt="logo"/>
</div>
<div id="home-title">{{title}}</div>

<div class="home-body">
    <p>Disfruta de las publicaciones de tus amigos y comparte tu vida.</p>
    <a href="#" class="btn btn-success btn-lg" role="button">
        Mi perfil
    </a>

    <a href="#" class="btn btn-primary btn-lg" role="button">
        Timeline
    </a>
    
    <a href="#" class="btn btn-dark btn-lg" role="button">
        Gente 
    </a>
    
</div>
    
    
    