  <nav class="navbar navbar-expand-lg">
      <!--Solo mostrara el botón cuando, el tamaño de la pantalla sea pequeña.-->
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse" type="button">
        <span class="navbar-toggler-icon"></span><!--Boton hamburguesa.-->
      </button>
      <!--Cuando exista el identity lo muestra.-->
      <div class="navbar" id="navbarCollapse">
        <ul id="botones" class="navbar-nav ml-auto" *ngIf="identity">                      
          <li  class="nav-item" >
            <a  class="btn btn-light" href="#"   [routerLink]="['/home']" [routerLinkActive]="['active']">
              Inicio
            </a>
          </li>
          <li class="nav-item" >
            <a class="btn btn-light" [routerLink]="['/timeline']" [routerLinkActive]="['active']">
              Timeline
            </a>
          </li>
          <li  class="nav-item">
            <a class="btn btn-light" href="#" [routerLink]="['/users']" [routerLinkActive]="['active']">
              Usuarios
            </a>
          </li>
          <li  class="nav-item">
            <a class="btn btn-light" href="#" [routerLink]="['/messages']" [routerLinkActive]="['active']">
              Mensajes
            </a>
          </li>
        </ul>
        <!--Y cuando no exista, muestra lo siguiente.-->
        <ul class="navbar-nav ml-auto" *ngIf="!identity">
          <li id="login" class="nav-item">
            <a  class="btn btn-light" [routerLink]="['/login']" [routerLinkActive]="['active']">
              Login
            </a>
          </li>
          <li  class="nav-item">
            <a class="btn btn-light" [routerLink]="['/register']" [routerLinkActive]="['active']">
              Registro
            </a>
          </li>
         </ul>
        </div>
        <ul id="menu-usuario" class="dropdown" *ngIf="identity">
          <div class="avatar">
            <img src="{{ url+'get-image-user/'+ identity.image }}" *ngIf="identity && identity.image"/>
            <img src="../assets/img/profile.png" *ngIf="!identity || !identity.image"/>
          </div>
          <div class="menu-usuario-buton">
            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{identity.name}}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" [routerLink]="['./profile/'+identity._id]">Mi perfil </a>
              <a class="dropdown-item" [routerLink]="['./mis-datos']" >Mis datos</a>
              <a id="usuario-cerrar-session" class="dropdown-item" (click)="logout()" href="#">Cerrar sessión</a>
            </div>
          </div>
      </ul>
    </nav>
<!--Se cargara el component asociado a la ruta, con el router outler.-->
<router-outlet></router-outlet>