<div class="user-edit col-lg-5">
    <h1>{{title}}</h1>
    <div class="alert alert-success col-lg-6" *ngIf="status == 'success'">
        Se ha actualizado tus datos correctamente.
    </div>

    <div class="alert alert-danger col-lg-6" *ngIf="status == 'error'">
        No se han podido actualizar tus datos, el correo o el apodo ya están en uso.
    </div>
    
    <form #userEditForm="ngForm" (ngSubmit)="onSubmit()" class="col-lg-12">
        <div class="user-image">
            <img id="cropped-image" class="rounded-circle z-depth-2" [src]="croppedImage" />
            <img class="rounded-circle z-depth-2" id="preview" *ngIf="user.image && !croppedImage" src="{{ url + 'get-image-user/'+ user.image }}"/>
            <img class="rounded-circle z-depth-2" id="preview" *ngIf="!user.image" src="../../../assets/img/profile.png"/>
        </div>
        <div class="form-group col-lg-6">
            <label>Nombre</label>
            <input type="text" class="form-control" name="name" #name="ngModel" [(ngModel)]="user.name" required/>
            <span *ngIf="!name.value && name.touched">
                El nombre es obligatorio.
            </span>
        </div>
        <div class="form-group col-lg-6">
            <label>Apellidos</label>
            <input type="text" name="surname" class="form-control" #surname="ngModel" [(ngModel)]="user.surname" required/>
            <span *ngIf="!surname.value && surname.touched">
                Los apellido son obligatorio.
            </span>
        </div>
        <div class="form-group col-lg-6">
            <label>Apodo</label>
            <input type="text" name="nick" class="form-control" #nick="ngModel" [(ngModel)]="user.nick" required/>
            <span *ngIf="!nick.value && nick.touched">
                El apodo es obligatorio.
            </span>
        </div>
        <div class="form-group col-lg-6">
            <label>Email</label>
            <input type="email" name="email" class="form-control" #email="ngModel" [(ngModel)]="user.email" required/>
            <span *ngIf="!email.value && email.touched">
                El email es obligatorio.
            </span>
        </div>
        
        <div class="custom-file col-lg-6">
            <label class="custom-file-label" for="customFile" >Sube tu foto de perfil</label>
            <input type="file" class="form-control-file" data-toggle="modal" data-target="#exampleModal" class="custom-file-input"  id="customFile" placeholder="Subir imagen" (change)="fileChangeEvent($event)">
        </div>
        <br/>
        <br/>
        <!--<input type="file" data-toggle="modal" data-target="#exampleModal" (change)="fileChangeEvent($event)" /> -->       
        <div class="user-edit-submit">
            <input  type="submit" value="Actualizar mis datos" class="btn btn-primary" [disabled]="!userEditForm.form.valid"/>
        </div>
    </form>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Foto de Perfil</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <image-cropper
            [imageChangedEvent]="imageChangedEvent"
            [maintainAspectRatio]="true"
            [aspectRatio]="1 / 1"
            resizeToWidth = "200"
            resizeToHeight = "200"
            format="png"
            roundCropper = "true"
            (imageCropped)="imageCropped($event)"
            ></image-cropper>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="fileSaved()" data-dismiss="modal">Guardar</button>
        </div>
      </div>
    </div>
</div>